
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {#{{ form_widget(form) }}#}
        {{ form_row(form.typeUser) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.autreNom) }}
        {{ form_row(form.email,{'attr': {'placeholder':'Votre adresse email'} } ) }}
        {{ form_row(form.plainPassword,{'attr': {'placeholder':'Votre mot de passe'} } ) }}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>


