<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bonjour!{% endblock %}</title>
        {%block stylesheets%}
            {% stylesheets filter='cssrewrite'
                    'libs/jquery-ui/themes/cupertino/jquery-ui.min.css'
                    'libs/bootstrap/dist/css/bootstrap.min.css'
                    'css/base.css'
                    'css/index.css'
                    'css/header.css'
                    'libs/select2/select2.css'
                    'libs/select2/select2-bootstrap.css'
                    output='compiled/main.css'
                     %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />            
            {%endstylesheets%}
        {%endblock stylesheets%}
        {% block otherStylesheets %}

        {% endblock otherStylesheets %}
        {% javascripts
                        'libs/jquery/dist/jquery.js'
                        output='compiled/main.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {%endjavascripts%}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <header>
                {%block header%}
                    <a href="{{ path('statistique_laterale') }}">statis</a>
                    {% include 'JcJolieCarBundle::header.html.twig'%}
                {% endblock header%}
            <br clear="both">
        </header>
        <div id="statistique">
            {{render(controller('JcJolieCarBundle:JolieCar:statistiqueLaterale'))}}
        </div>
        <div class="container" id="global">
            <div id="message" class="row">
                 {#{% for message in app.session.flashbag.get('message') %}#}
                 {% for messages in app.session.flashbag.all() %}
                     {% for message in messages %}
                         <div class="alert alert-{{ message|typeAlert }}" role="alert">
                             <button type='button' class='close' data-dismiss='alert'>
                                 <span aria-hidden='true'>&times;</span>
                                 <span class='sr-only'></span>
                             </button>
                             <strong>{{ message|trans({}, 'FOSUserBundle')|raw }}</strong>
                         </div>
                     {% endfor %}
                 {% endfor %}
            </div>
            <div id="main">
                {% block main%}

                {% endblock main%}
            </div>

            <footer>
                {%block footer%}

                {%endblock footer%}
            </footer>
        </div>

        {% block javascripts%}
            {% javascripts filter='?yui_js'
                            'libs/jquery-ui/jquery-ui.min.js'
                            'libs/bootstrap/dist/js/bootstrap.min.js'
                            'js/outils.js'
                            'js/boot.js'
                            'js/base.js'
                            'js/headerSearch.js'
                            'libs/select2/select2.min.js'
                            'libs/masonry/dist/masonry.pkgd.min.js'
                            'libs/numeral/min/numeral.min.js'
                            'bundles/fosjsrouting/js/router.js'
                            'js/fos_js_routes.js'
                            '../vendor/jms/twig-js/twig.js'
                            output='compiled/main.js'%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {%endjavascripts%}
        {% endblock javascripts%}
        {%block otherScript%}

        {%endblock%}

        {% endblock %}
    </body>
</html>
