<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bonjour!{% endblock %}</title>
        {%block stylesheets%}
            {% stylesheets filter='cssrewrite'
                    'libs/jquery-ui/themes/cupertino/jquery-ui.min.css'
                    'libs/bootstrap/dist/css/bootstrap.min.css'
                    'css/base.css'
                    'css/index.css'
                    'css/header.css'
                    'libs/select2/select2.css'
                    'libs/select2/select2-bootstrap.css'
                    'libs/elastislide/css/elastislide.css'
                    output='compiled/main.css'
                     %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />            
            {%endstylesheets%}
        {%endblock stylesheets%}
        {% block otherStylesheets %}

        {% endblock otherStylesheets %}
        {% javascripts
                        'libs/jquery/dist/jquery.min.js'
                        'libs/Elastislide/js/modernizr.custom.17475.js'
                        output='compiled/main.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {%endjavascripts%}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <header>
                {%block header%}
                    {% include 'JcJolieCarBundle::header.html.twig'%}
                {% endblock header%}
            <br clear="both">
        </header>
        <div class="container" id="global">
            <div id="showSearch" class="glyphicon glyphicon-search" data-infobulle="Afficher les criteres de recherches"></div>
            <div id="message" class="row">
                 {#{% for message in app.session.flashbag.get('message') %}#}
                 {% for messages in app.session.flashbag.all() %}
                     {% for message in messages %}
                         <div class="alert alert-{{ message|typeAlert }}" role="alert">
                             <button type='button' class='close' data-dismiss='alert'>
                                 <span aria-hidden='true'>&times;</span>
                                 <span class='sr-only'></span>
                             </button>
                             <strong>{{ message|raw|trans({}, 'FOSUserBundle') }}</strong>
                         </div>
                     {% endfor %}
                 {% endfor %}
            </div>
            {% block main%}
                
            {% endblock main%}
            <footer>
                {%block footer%}
                
                {%endblock footer%}
            </footer>    
        </div>        
        
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        {% block javascripts%}
            {% javascripts
                            'libs/jquery-ui/jquery-ui.min.js'
                            'libs/bootstrap/dist/js/bootstrap.min.js'
                            'js/outils.js'
                            'js/boot.js'
                            'js/base.js'
                            'libs/select2/select2.min.js'
                            'libs/elastislide/js/*'
                            'libs/masonry/dist/masonry.pkgd.min.js'
                            output='compiled/main.js'%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {%endjavascripts%}
                <script type="text/javascript">
                    $('#tabAccesRapide').elastislide();
                </script>
        {% endblock javascripts%}
        {%block otherScript%}

        {%endblock%}
       {# <script src="{{asset('jquery-1.11.1.min.js')}}"></script>
        {% block javascripts %}
            <script type="text/javascript" src="{{asset('css/bootstrap/js/bootstrap.min.js')}}"></script>
        {% endblock %}#}
        {% endblock %}
    </body>
</html>
