{# empty Twig template #}

{% block _jc_joliecarbundle_voiture_modele_nom_widget -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %} class="form-control">{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('_jc_joliecarbundle_voiture_modele_nom_choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('_jc_joliecarbundle_voiture_modele_nom_choice_widget_options') -}}
    </select>   
{%- endblock _jc_joliecarbundle_voiture_modele_nom_widget %} 

{% block _jc_joliecarbundle_voiture_modele_nom_choice_widget_options -%}
{% spaceless%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}) }}">
                {% set options = choice %}
                {{- block('_jc_joliecarbundle_voiture_modele_nom_choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}
                        {%if liste_marque is defined %}
                            {%for value in liste_marque%}
                                {%if choice.value in value%}
                                    data-marque="{{value.marque.nom}}"
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                     
                     >{{ choice.label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{% endspaceless%}
{% endblock _jc_joliecarbundle_voiture_modele_nom_choice_widget_options %}
            
{% block form_row -%}
        {{- form_widget(form) -}}
{%- endblock form_row %}

{% block _jc_joliecarbundle_voiture_images_row -%}
    <div class="row" id="imagesUpload">
            {{- form_widget(form) -}}
    </div>

{%- endblock _jc_joliecarbundle_voiture_images_row %}



{% block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype':form_row(prototype)}) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget %}


