{# empty Twig template #}

{% block _jc_joliecarbundle_voiture_modele_widget -%}
    <div>
        {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
            {% set required = false %}
        {%- endif -%}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
            {% if empty_value is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %} class="form-control">{{ empty_value|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('_jc_joliecarbundle_voiture_modele_choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('_jc_joliecarbundle_voiture_modele_choice_widget_options') -}}
        </select>
    </div>
{%- endblock _jc_joliecarbundle_voiture_modele_widget %}

{% block _jc_joliecarbundle_voiture_modele_choice_widget_options -%}
    {% spaceless%}
        {% for group_label, choice in options %}
            {%- if choice is iterable -%}
                <optgroup label="{{ group_label|trans({}) }}">
                    {% set options = choice %}
                    {{- block('_jc_joliecarbundle_voiture_modele_choice_widget_options') -}}
                </optgroup>
            {%- else -%}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}
                        {%if liste_marque is defined %}
                            {%for value in liste_marque%}
                                {%if choice.value in value%}
                                    data-marque="{{value.marque.nom}}"
                                {%endif%}
                            {%endfor%}
                        {%endif%}

                        >{{ choice.label|trans({}, translation_domain) }}</option>
            {%- endif -%}
        {% endfor %}
    {% endspaceless%}
{% endblock _jc_joliecarbundle_voiture_modele_choice_widget_options %}



{% block form_row -%}
    <div class="ligneForm">
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}


{#{% block _jc_joliecarbundle_voiture_mainImage_row -%}

    <div id='uploadMiniature_mainImage'>
        <div class='text-center libelle'>Image Principale</div>
        {% set mainImage = form.vars.value %}
        {% if mainImage %}
            <img src='{{asset(mainImage.WebPath~mainImage.path)}}' alt='{{ mainImage.nom }}' class='img-responsive'/>
        {% else %}
            <img src='{{asset('images/specimenCar.png')}}' alt='logo_joliecar' class='img-responsive'/>
        {% endif %}
        <div class="conteneurBtnUpload">
            {{- form_widget(form) -}}
            <div class='btn-success'> <i class='glyphicon glyphicon-upload'></i>Modifiez image </div>
        </div>
    </div>
{%- endblock _jc_joliecarbundle_voiture_mainImage_row %}#}
{% block _jc_joliecarbundle_voiture_mainImage_row -%}
    <div id='uploadMiniature_mainImage'>
        <div class='text-center libelle'>Image Principale</div>
        {% set mainImage = form.vars.value %}
        {% if mainImage %}
            <img src='{{asset(mainImage.WebPath~mainImage.path)}}' alt='{{ mainImage.nom }}' class='img-responsive'/>
        {% else %}
            <img src='{{asset('images/specimenCar.png')}}' alt='logo_joliecar' class='img-responsive'/>
        {% endif %}
        {{- form_widget(form) -}}
    </div>
{%- endblock _jc_joliecarbundle_voiture_mainImage_row %}

{% block _jc_joliecarbundle_voiture_mainImage_file_row -%}

    <div class="conteneurBtnUpload">
        {% set type = type|default('file') -%}
        <input data-numero="-1" class="btnUpload" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

        <div class='btn-success'> <i class='glyphicon glyphicon-upload'></i>Ajoutez image </div>
    </div>
{%- endblock _jc_joliecarbundle_voiture_mainImage_file_row %}

{#{% block _jc_joliecarbundle_voiture_mainImage_widget -%}
    {% set type = type|default('file') -%}
    <input data-numero="0" class="btnUpload"
           type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} {% endif %}/>
{%- endblock _jc_joliecarbundle_voiture_mainImage_widget %}#}
{% block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': block('file_row') }) -%}
    {% endif %}
    <div {{ block('widget_attributes') }}>
        {% for element in form %}
            {% set image = element.vars.value %}
            {% set index = loop.index - 1  %}
            {#{% if image.mainImage==false %}#}
                <div id='uploadMiniature_{{ index }}'>
                    <div id="jc_joliecarbundle_voiture_images_{{ index }}">
                        <div class='text-center libelle'><span id="removeImage_{{ index }}" class='glyphicon glyphicon-remove'></span><em>Image</em></div>
                        <img src='{{asset(image.webPath~image.path)}}' alt='{{asset(image.webPath~image.nom)}}'/>
                        <div class="conteneurBtnUpload">
                            <input data-numero="{{ index }}" class="btnUpload" type="file" id="jc_joliecarbundle_voiture_images_{{ index }}_file" name="jc_joliecarbundle_voiture[images][{{ index }}][file]" />
                            <div class='btn-success'> <i class='glyphicon glyphicon-upload'></i>Modifiez image </div>
                        </div>
                    </div>
                </div>
            {#{% endif %}#}
        {% endfor %}
    </div>
{%- endblock collection_widget %}



{% block _jc_joliecarbundle_voiture_images_row -%}
    {{- form_widget(form) -}}
{%- endblock _jc_joliecarbundle_voiture_images_row %}


{% block file_row -%}
    <div id='uploadMiniature___name__'>
        <div id="jc_joliecarbundle_voiture_images___name__">
            <div class='text-center libelle'><em>Image</em></div>
            <img src='/jolicar/web/images/specimenCar.png' alt='logo_joliecar'/>
            <div class="conteneurBtnUpload">
                <input data-numero="__name__" class="btnUpload" type="file" id="jc_joliecarbundle_voiture_images___name___file" name="jc_joliecarbundle_voiture[images][__name__][file]" />
                <div class='btn-success'> <i class='glyphicon glyphicon-upload'></i>Modifiez image </div>
            </div>
        </div>
    </div>
{%- endblock file_row %}

{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}