{# src/Jc/JolieCar/resources/views/header.html.twig  #}
<div class="row">
    {%set tailleCol="col-lg-4 col-sm-6 col-xs-12"%}
    <div class="{{tailleCol}}">
        <a href="{{path('joliecar_accueil')}}" title="acceder à la page d'accueil">
             <img src="{{asset('images/logo_joliecar.jpg')}}" alt="logo_joliecar" class="img-responsive"/>
        </a> 
     </div>
     <a href="{{path('add_car')}}">Ajouter une annonce</a>
     <div id="headerSearch" class="pull-right">
         {{render(controller('JcJolieCarBundle:JolieCar:headerSearch'))}}
     </div>
    
</div>
    
