{% block form_row -%}
    {%set champ="col-lg-8" %}
    {%set label="col-lg-2" %}
    <div class="row">
        <div class="{{ label }}">
            {{- form_label(form) -}}
        </div>
        <div class="{{ champ }}">
            {{- form_widget(form) -}}
        </div>
    </div>

{%- endblock form_row %}

{% block _fos_user_registration_form_plainPassword_first_widget -%}
    {% spaceless %}
        {% set type = type|default('') %}
        <input class="form-control" type="password" placeholder="Veuillez saisir le mot de passe" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock  _fos_user_registration_form_plainPassword_first_widget%}

{% block _fos_user_registration_form_plainPassword_second_widget -%}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input class="form-control" type="password" placeholder="Veuillez confirmer le mot de passe" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock  _fos_user_registration_form_plainPassword_second_widget%}
