{# src/Jc/JolieCarBundle/resources/views/JolieCar/apercuCar.html.twig #}
{#<div class="apercuCar center-block">#}
{% twig_js name="templateApercuCar" %}
<div class="apercuCar">
    {% if car %}
        <a href="{{path('joliecar_detail', {'marque': car.modele.marque.nom,'modele': car.modele.nom, 'id' : car.id})}}" class="thumbnail">
                {%if car.mainImage %}
                    <img src="{{asset(car.mainImage.webPath~car.mainImage.path)}}" alt="{{car.mainImage.path}}" class="img-rounded apercuCarImage"/>
                {%else%}
                    <img src="{{asset('images/logo_joliecar.jpg')}}" alt="logo_joliecar" />
                {%endif%}

                <div class="apercuCarInfo">
                       <div><h5 class="glyphicon glyphicon-wrench"> {{car.modele.marque.nom}}-{{car.modele.nom}}</h5></div>
                       <div><span class="glyphicon glyphicon-shopping-cart"> {{car.prix|formaterPrix}}</span></div>
                </div>
         </a>
    {% endif %}
</div>    
    
    
