{# src/Jc/JolieCarBundle/resources/views/JolieCar/detail.html.twig #}
{%extends "JcJolieCarBundle::layout.html.twig"%}

{%block otherStylesheets%}
    {% stylesheets filter='cssrewrite'
    'css/detail.css'
    'libs/fotorama/fotorama.css'
    output='compiled/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {%endstylesheets%}
{%endblock otherStylesheets%}

{%block tabAccesRapide%}
    {{parent()}}
{%endblock%}

{%block main%}
    <div id="detail">
        <div id="imagesCar" class="contour fotorama" data-nav="thumbs" data-arrows="true" data-click="true" data-swipe="false">
                {%if car.mainImage %}
                    <img ssrc="{{asset(car.mainImage.webPath~car.mainImage.path)}}" alt="{{car.mainImage.path}}" class="miniature"/>
                {%else%}
                    <img src="{{asset('images/logo_joliecar.jpg')}}" alt="logo_joliecar" class="miniature"/>
                {%endif%}
                {%for image in car.images %}
                    <img  src="{{asset(image.webPath~image.path)}}" alt="{{image.path}}" class="miniature"/></a>
                {%else%}
                    <h3>Aucun aperçu disponible pour cette voiture</h3>
                {% endfor%}
        </div>
        <div id="accordion">
            <h3>Informations générales</h3>
            <div>
                <table class="table">
                    <tr><td>Marque</td><td>{{car.modele.marque.nom}}</td></tr>
                    <tr><td>Modele</td><td>{{car.modele.nom}}</td></tr>
                    <tr><td>Prix</td><td>{{car.prix|formaterPrix}}</td></tr>
                    <tr><td>Boite de vitesse</td><td>{% if car.boitier %}{{car.boitier.nom}}{% endif %}</td></tr>
                    <tr><td>Kilometre parcouru</td><td>{{car.kmParcouru|number_format(0,',','.')}}</td></tr>
                    <tr><td>Carburant</td><td>{% if car.carburant %}{{car.carburant.nom}}{% endif %}</td></tr>
                    <tr><td>Nombre de portes</td><td>{{car.nombrePorte}}</td></tr>
                    <tr><td>Nombre de sieges</td><td>{{car.nombreSiege}}</td></tr>
                </table>
            </div>
            <h3>Le vendeur</h3>
            <div>
                <table class="table">
                    {% if car.user %}
                        <tr><td>Nom</td><td>{{car.user.nom}}</td></tr>
                        {% if car.user.adresse %}
                            <tr><td>Telephone</td><td>{{car.user.adresse.telephone|number_format(0,' ',' ')}}</td></tr>
                            <tr><td>Email</td><td>{{isNull(null)}}</td></tr>
                            <tr><td>Site web</td><td>{{car.user.adresse.site}}</td></tr>
                            <tr><td>Ville</td><td>{{car.user.adresse.ville}}</td></tr>
                            <tr><td>Quartier</td><td>{{car.user.adresse.quartier}}</td></tr>
                            <tr><td>Indication</td><td>{{car.user.adresse.indicationLieu}}</td></tr>
                        {% endif %}

                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{%endblock main%}
      {%block otherScript%}
          {% javascripts
          'js/detail.js'
          'libs/fotorama/fotorama.js'
          output='compiled/main.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
          {%endjavascripts%}
      {%endblock%}
