<ul class="list-group">
    {% for marque in statistiquesMarque %}
            <li class="list-group-item">
                <a href="#" class="nomMarque">{{ marque.nom }}</a>
                <span class="glyphicon glyphicon-chevron-down"></span>
                <span class="badge">{{ marque.nombre }}</span>
            </li>
            <ul class="list-group cacher modeles" data-modele="{{ marque.nom }}">
                {% for modele in statistiquesModele if modele.nomMarque == marque.nom %}
                    <li class="list-group-item">
                        <a href="#" class="nomModele">{{ modele.nom }}</a>
                        <span class="badge">{{ modele.nombre }}</span>
                    </li>
                {% endfor %}
            </ul>

    {% endfor %}
</ul>
