{# src/Jc/JolieCarBundle/resources/views/JolieCar/addCar.html.twig #}

{%extends "JcJolieCarBundle::layout.html.twig"%}

{%block otherStylesheets%}
    {% stylesheets filter='cssrewrite'
    'css/addCar.css'
    'css/updateCar.css'
    output='compiled/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {%endstylesheets%}
{%endblock otherStylesheets%}

{%form_theme form 'JcJolieCarBundle:Form:updateCar.html.twig'%}
{%block main%}
    {{form_start(form,{'attr': {'class': 'contour'}})}}
    <div id="accordion">
        <h6>Infos générales</h6>
        <div>
            <div id="nomMarque">
                {{form_row(form.marque)}}
                <div id="ajoutMarque" data-url="{{path('add_marque')}}" ><span class='glyphicon glyphicon-plus'></span></div>
                <br clear="both">
            </div>
            <div id="nomModele">
                {{form_row(form.modele)}}
                <div id="ajoutModele" data-url="{{path('add_modele')}}" ><span class='glyphicon glyphicon-plus'></span></div>
                <br clear="both">
            </div>
            {{form_row(form.boitier)}}
            {{form_row(form.carburant)}}
            {{form_row(form.prix)}}
            {{form_row(form.dateAcquisition)}}
        </div>

        <h6>Images</h6>
        <div>
            <div id="images">
                <span id="ajoutImage" class="glyphicon glyphicon-plus" data-infobulle="Ajouter une autre image"></span>
                {{form_row(form.mainImage)}}
                {{ form_row(form.images) }}
                <br clear="both">
            </div>

        </div>
        <h6>Infos detaillées</h6>
        <div>
            {{form_row(form.kmParcouru)}}
            {{form_row(form.nombreRoueMotrice)}}
            {{form_row(form.nombrePorte)}}
            {{form_row(form.nombreSiege)}}
        </div>

    </div>
    {{form_row(form.btnSave)}}
    </div>
    {{form_end(form)}}
{%endblock main%}
      {%block otherScript%}
          {% javascripts
            'js/addCar.js'
            'js/updateCar.js'
          output='compiled/main.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
          {%endjavascripts%}
      {%endblock%}
